<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Ignorer les fichiers et répertoires réels
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rediriger toutes les requêtes vers index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Sécuriser les fichiers sensibles
<FilesMatch "\.sqlite$">
    Deny from all
</FilesMatch>
